numpy~=1.24.2
pandas~=1.2.3
ray[tune]~=2.4.0
-f https://download.pytorch.org/whl/cu113/torch_stable.html
-f https://data.pyg.org/whl/torch-1.11.0+cu113.html
-f https://data.dgl.ai/wheels/repo.html
dgl-cu111
torch==1.11.0+cu113
torch-geometric
pytorch-lightning==1.6.5